// Core styles and reset
@use './app.scss';

// Font definitions
@use './fonts.scss';

// Theme styles
@use './themes/light-theme.scss';
@use './themes/dark-theme.scss';
@use './themes/light-hc.scss';
@use './themes/dark-hc.scss';

// Accessibility styles
@use './accessibility.scss';

// Component styles
@use './components/GoogleLoginButton.scss';
@use './components/TaskDetailPage.scss';
@use './components/TaskDashboard.scss';
@use './components/TaskProgressModal.scss';
@use './components/TaskProcessingSteps.scss';
@use './components/LoadingPlaceholder.scss';

// Page styles
@use './pages/LoadingDemo.scss';